h1 {
 color:lightblue;
  font-family: "Lucida Console", "Courier New", monospace;
  
  font-size=5cm;
}
body {
  background-color:white;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
  
}